body {
    
    background: #CCCCCC;
}

.principal {
  background: #CCCCCC
    
    text-align: center;
    border: 10px solid black;
    padding:20px ;
}
p {
    text-align: center;
}
em strong {
    color: red;
}
#missao{
     font-size: 20px;
}
#banner{
    width: 100%;
}
.beneficios{
    background: #ffffff
}
.itens{
    font-style: italic;
}